*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(121, 209, 231);
}
.main-heading{
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    font-weight:bold;
    padding: 30px;
}
.login{
    padding-top: 40px;
    text-align: center;
    align-items: center;
}
.email{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    margin-right: 3.5%;
}
.password{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
}
#login{
    padding: 10px;
    background-color: royalblue;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font-size: 20px;
}
#name,#email,#password{
    padding: 2px;
    padding-right: 3%;
    border-radius: 5px;
    border:none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.toast{
    background-color: rgb(226, 29, 29);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 2rem;
    margin: 1rem;
   }
.popup{
   position: fixed;
   right: 10px;
   bottom: 10px;
  }
  #new-user{
    text-decoration: none;
    border: none;
    background-color:  rgb(121, 209, 231);
    font-size: 20px;
    color: rgb(37, 17, 218);
}