*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(121, 209, 231);
}
.main-heading{
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    font-weight:bold;
    padding: 30px;
}
.signup{
    padding-top: 40px;
    text-align: center;
    align-items: center;
}

.name{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    margin-right: 3%;
}
.email{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    margin-right: 3.5%;
}
.password{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
}
#signup{
    padding: 10px;
    background-color: royalblue;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font-size: 20px;
}
#name,#email,#password{
    padding: 2px;
    padding-right: 10%;
    border-radius: 5px;
    border:none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
